body::-webkit-scrollbar,
.modal-open .modal::-webkit-scrollbar {
    width: 5px;
}
  
body::-webkit-scrollbar-track,
.modal-open .modal::-webkit-scrollbar-track{
    background-color: transparent;
}

body::-webkit-scrollbar-thumb,
.modal-open .modal::-webkit-scrollbar-thumb {
    background-color: #343a40;
    border-radius: 10px;
}